<section class="contacts">
    <div class="wrapper">
        <div class="contacts__container">
            <h1 class="contacts__container__title">JOIN US</h1>
            <form class="form_joinus" action="#">
                <p><i>Будь ласка, заповніть форму. Обовязкові поля відміченні </i><em>*</em></p>
                <fieldset>
                    <legend>Контактна інформація</legend>
                    <label for="name">Імя <em>*</em></label>
                    <input id="name"><br>
                    <label for="telephone">Телефон</label>
                    <input id="telephone"><br>
                    <label for="email">Email <em>*</em></label>
                    <input id="email"><br>
                </fieldset>
                <p><input type="submit" value="Відправити інформація"></p>
            </form>
        </div>
    </div>
</section>