<section class="why__we">
    <img src="./business1.jpg" alt="" class="why__we__img">
    <div class="why__we__info">
        <div class="wrapper">
            <h1 class="why__we__info__header">НОВИНИ</h1>
            <div class="why__we__info__blocks">
                <div class="why__we__info__blocks__item">
                    <img src="./business2.jpg" alt="" class="why__we__info__blocks__item__img">
                    <div class="why__we__info__blocks__item__wrapper">
                        <h2 class="why__we__info__blocks__item__title">Новини1 </h2>
                        <span class="why__we__info__blocks__item__info">Скороченний текст новини...</span>
                    </div>
                </div>
                <div class="why__we__info__blocks__item">
                    <img src="./business3.jpg" alt="" class="why__we__info__blocks__item__img">
                    <div class="why__we__info__blocks__item__wrapper">
                        <h2 class="why__we__info__blocks__item__title">Новини 2</h2>
                        <span class="why__we__info__blocks__item__info">Скороченний текст новини...</span>
                    </div>
                </div>
                <div class="why__we__info__blocks__item">
                    <img src="./business4.jpg" alt="" class="why__we__info__blocks__item__img">
                    <div class="why__we__info__blocks__item__wrapper">
                        <h2 class="why__we__info__blocks__item__title">Новини 3</h2>
                        <span class="why__we__info__blocks__item__info">Скороченний текст новини...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>